
<div class="main">


<div class="mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          Name
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          lat
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          long
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          distance
        </th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let store of stores | orderBy: distance">
        <td class="mdl-data-table__cell--non-numeric">{{ store.storeName }}</td>
        <td>{{ store.geoLocation.lat }}</td>
        <td>{{ store.geoLocation.long }}</td>
        <td>{{ store.distance }}</td>

      </tr>
      </tbody>
    </table>
  </div>


</div>

  <a md-raised-button routerLink="/">חיפוש חדש</a>

</div>
