<!--The whole content below can be removed with the new code.-->
<div class="main">


  <md-input-container>

    <input type="text"  placeholder="הכנס כתובת" mdInput [formControl]="searchControl" #search [mdAutocomplete]="auto">

  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete">
  </md-autocomplete>

</div>

